$color-grey: #F6F9FC;
//$font-family-base: 'Roboto', sans-serif;
$text-semibold-weight: 500;
$input-checkbox-icon: url(../images/icon-check.svg);
$input-checkbox-color: rgba(#000, .2);
$input-checkbox-size: 1.4rem;

$app-bg: linear-gradient(180deg, #D55F75, #95629A);
$frame-border-color: darken(#D55F75, 40%);
